BOT_TOKEN=your_bot_token_here
GUILD_ID=your_guild_id_here
LOG_CHANNEL_ID=your_log_channel_id_here
HARDCORE_OWNER_ID=your_owner_id_here
REDIS_URL=redis://localhost:6379/0
SENTRY_DSN=
JWT_SECRET_KEY=your_jwt_secret_key_here
DISCORD_CLIENT_ID=your_client_id_here
DISCORD_CLIENT_SECRET=your_client_secret_here
DISCORD_REDIRECT_URI=http://your_ip:8000/admin/auth/callback
OWNER_USERNAME=owner
OWNER_PASSWORD=owner
